PORT=3000
SALES_DATA_MODE=api
SALES_DATA_URL=https://docs.google.com/spreadsheets/d/10XOSE1z8HucS0_5K_8iX8VFg6s0ASZJwDAMfo0uacIA/gviz/tq?tqx=out:csv&sheet=2_Ranking%20por%20Vendedor&range=A5:K1000
SALES_TEAM_DATA_URL=https://docs.google.com/spreadsheets/d/10XOSE1z8HucS0_5K_8iX8VFg6s0ASZJwDAMfo0uacIA/gviz/tq?tqx=out:csv&sheet=3_Ranking%20por%20Regi%C3%A3o&range=A5:H1000
KOMMO_API_URL=
KOMMO_AUTH_TOKEN=
ADMIN_TOKEN=troque-por-um-token-longo-e-seguro
CORS_ORIGIN=
DATABASE_URL=
NEON_AUTH_BASE_URL=https://ep-little-union-a69b2ecz.neonauth.us-west-2.aws.neon.tech/neondb/auth
APP_ORIGIN=https://experta-o.onrender.com
IDEAACO_EMAIL_USER=grupoabr19@gmail.com
IDEAACO_EMAIL_APP_PASSWORD=
IDEAACO_SMTP_HOST=smtp.gmail.com
IDEAACO_SMTP_PORT=465
IDEAACO_SMTP_SECURE=true


